{% extends "head/base.html" %}
{% load bootstrap %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-4 col-xl-6 col-lg-12 col-sm-12  mx-sm-auto mx-xl-auto">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} shadow text-center " role="alert">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <h4 class="text-center strong mb-5  h3">Changement du mot de passe</h4>
            <form action="" method="post" novalidate>{% csrf_token %}
                <div class="form-group has-error">
                    <label class="control-label  " for="id_old_password">Mot de passe actuel:*</label>
                    <div class=" ">
                        <input type="password" name="old_password" autocomplete="current-password" autofocus
                            class=" form-control" required id="id_old_password">
                    </div>

                </div>
                <div class="alert alert-warning mb-3">
                    <ul>
                        <li>Votre mot de passe ne peut pas être trop similaire à vos autres informations personnelles.
                        </li>
                        <li>Votre mot de passe doit contenir au moins 8 caractères.</li>
                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                    </ul>
                </div>
                <div class="form-group has-error">
                    <label class="control-label  " for="id_new_password1">Nouveau mot de passe:*</label>
                    <div class=" ">
                        <input type="password" name="new_password1" autocomplete="new-password" class=" form-control"
                            required id="id_new_password1">
                    </div>
                </div>
                <div class="form-group has-error">
                    <label class="control-label  " for="id_new_password2">Confirmer le nouveau mot de passe:*</label>
                    <div class=" ">
                        <input type="password" name="new_password2" autocomplete="new-password" class=" form-control"
                            required id="id_new_password2">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>

            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>

{% endblock %}